# exclude jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/


# exclude data files
data/
*.csv
*.xlsx

# exclude images
*.png
*.jpg
*.jpeg

# brainstorm/content folder
plastic-diary-data-story-brainstorm/